.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.GalleryContainer {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0.5em;
}

.GallerySlider {
  height: 250px;
}

.GalleryImageCol {
  padding-top: 1em;
  cursor: pointer;
}

.GalleryImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PreviewImage {
  object-fit: contain;
  height: 250px;
  width: auto !important;
}
